# Development
.git
.gitignore
.eslintrc
.prettierrc
.husky
.vscode
.idea

# Tests
test
coverage
*.test.js
*.spec.js
jest.config.js

# Source
src
docs
examples
.github
CONTRIBUTING.md

# Misc
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*

# Build process
tsconfig.json
babel.config.js
rollup.config.js
webpack.config.js 